.box{
    height:200px;
    width:200px;
    background-color: red;
    border:1px solid black;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    font-size: 30px;
    color: white;
    transform: translate(50px,50px);
    -webkit-transform: translate(50px,50px);
    -moz-transform: translate(50px,50px);
    -ms-transform: translate(50px,50px);
    -o-transform: translate(50px,50px);
}
.box2{
    height:200px;
    width:200px;
    background-color: red;
    border:1px solid black;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 60px;
    margin-left: 50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.box3{
    height:200px;
    width:200px;
    background-color: red;
    border:1px solid black;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 60px;
    margin-left: 50px;
    transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
}
.box4{
    height:200px;
    width:200px;
    background-color: red;
    border:1px solid black;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 60px;
    margin-left: 50px;
    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
}
.box5{
     height:200px;
     width:200px;
     background-color: red;
     border:1px solid black;
     box-sizing: border-box;
     align-content: center;
     text-align: center;
     font-size: 30px;
     color: white;
     margin-top: 60px;
     margin-left: 50px;
     transform: matrix(1, -0.3, 0, 1, 100, 50);
     -webkit-transform: matrix(1, -0.3, 0, 1, 100, 50);
     -moz-transform: matrix(1, -0.3, 0, 1, 100, 50);
     -ms-transform: matrix(1, -0.3, 0, 1, 100, 50);
     -o-transform: matrix(1, -0.3, 0, 1, 100, 50);
}